{% extends 'base.html.twig' %}

{% block title %}
	Mini-CMS
	{% if url is defined %}
		->
		{{ url }}
	{% endif %}
{% endblock %}

{% block head %}
	{% if url is defined %}
		<!-- test -->
		{% if url == 'Login' %}
			<meta name="_token" value="{{ csrf_token('authenticate') }}"/>
		{% endif %}

	{% endif %}

{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
	<div {{ react_component('main_admin') }} id="root" class="admin-root"></div>
	{% if error is defined %}
		{% if error is not null %}
			{{ dump(error) }}
		{% endif %}

	{% endif %}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app_admin') }}
{% endblock %}
