<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
          {% block title %}
            {{ title }}
          {% endblock %}
        </title>
        <meta name="user-scalable" content="no" />
        {% block metalogo %}
          {% if logo is not null %}
            <link rel="icon" href="/uploads/logo/{{logo}}">
          {% else %}
            <link rel="icon" href="/imgs/Favicon.png">
          {% endif %}
        {% endblock %}
        <meta name="copyright" content="Arckanics Reiko"/>
        {% block head %}
          <meta path="{{ path }}" />
          <meta name="author" content="{{ author }}"/>
          <meta name="description" content="{{ desc }}"/>
        {% endblock %}
        
        {% block stylesheets %}
          {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
          <div {{ react_component('main') }} id="root" class="root"></div>
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
